@import "cinnamon.css";

* {
  font-size: 16px;
  font-family: JetbrainsNerdMono;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @pink; /* Default text color */
  margin: 5px 5px;
}

#workspaces,
#taskbar
{
  opacity: 0.9;
  background-color: @sky; /* Background for grouped modules */
  border-radius: 1rem;
  margin: 5px;
}

#workspaces button {
  color: @yellow; /* Button text color */
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active,
#taskbar button.active
{
    opacity: 0.9;
    background-color: @yellow;
}

/* Grouped modules including network */
#network,
#bluetooth,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @sky; /* Background for grouped modules */
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#bluetooth {
    color: @yellow; 
}

/* Individual styling for clock */
#clock {
  color: @yellow; /* Clock color */
  border-radius: 0px 1rem 1rem 0px; /* Rounded edges */
  margin-right: 1rem;
}

/* Battery styling */
#battery {
  color: @yellow; /* Battery color */
}

#battery.charging {
  color: @yellow; /* Charging color */
}

#battery.warning:not(.charging) {
  color: @yellow; /* Warning color */
}

/* Backlight styling */
#backlight {
  color: @yellow; /* Backlight color */
}

/* Ensure consistent border radius */
#backlight, #battery {
    border-radius: 0; /* No rounding */
}

/* PulseAudio styling */
#pulseaudio {
  color: @yellow; /* PulseAudio color */
  border-radius: 1rem 0px 0px 1rem; /* Rounded edges */
  margin-left: 1rem;
}

/* Custom music styling */
#custom-music {
  color: @yellow; /* Custom music color */
  border-radius: 1rem; /* Rounded edges */
}

/* Lock styling */
#custom-lock {
    border-radius: 1rem 0px 0px 1rem; /* Rounded edges */
    color: @yellow; /* Lock color */
}

/* Power button styling */
#custom-power {
    margin-right: 1rem; /* Right margin */
    border-radius: 0px 1rem 1rem 0px; /* Rounded edges */
    color: @yellow; /* Power color */
}

/* Tray styling */
#tray {
  margin-right: 1rem; /* Right margin */
  border-radius: 1rem; /* Rounded edges */
}

/* Grouping network with the rest */
#network {
  /* This keeps the same styling as the rest of the grouped items */
  padding: 0.5rem 1rem; /* Padding */
  margin: 5px 0; /* Margin */
  color: @yellow; /* Network color */
}
